@font-face {
  font-family: curatorBold;
  src: url('/assets/static/fonts/curatorbold.otf')format('opentype');
}

@font-face {
  font-family: curatorRegular;
  src: url('/assets/static/fonts/curatorregular.otf')format('opentype');
}

.container {
  max-width: 750px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  font-family: curatorRegular;
}

h1 {
  font-size: 21px;
  color: #333333;
  font-family: curatorBold;
}

svg g {
  font-size: 13px;
  color: #333333;
  font-family: curatorRegular;
}

.india {
  stroke: #FABE9C;
  fill: #FABE9C;
}

.vietnam {
  stroke: #FED47D;
  fill: #FED47D;
}

.thailand {
  stroke: #F6AB9A;
  fill: #F6AB9A;
}

.legendLine  {
  font-family: curatorBold;
  cursor: pointer;
  font-size: 13px;
  line-height: 21px;
  padding-left: 10px;
}

.legend {
  /* font-family: curatorBold; */
  font-size: 15px;
  line-height: 21px;
  padding-left: 10px;
}

#legendYear {
  /* font-family: curatorBold; */
  font-size: 15px;
  line-height: 21px;
  padding-left: 10px;
}

.tick {
  stroke: #777;
  stroke-width: 0.25px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.legendline text {
  stroke: none;
  fill: #333333;
}

.countryValue {
  stroke: none;
  fill: #333333;
}

.focusLine {
  width: 0.5px;
}
